<mat-nav-list>

  <form class="datePiker" [formGroup]="form" (ngSubmit)="consultarPagos('1801','2020-12-07')">

    <mat-form-field appearance="fill">
      <mat-label>Fecha Pago</mat-label>
      <input  matInput
              [matDatepicker]="picker3"
              [formControl]="fecha">

      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3 formGroupName="fecha" ></mat-datepicker>
    </mat-form-field>


    <a mat-list-item (click)="onCerrarMenu(tblusuario.nombre)" *ngFor="let tblusuario of tblusuarios">
      <button type="submit" class="buttonList" mat-stroked-button flex="300" color="primary">
        <mat-icon>person </mat-icon>
          {{tblusuario.nombre}}
      </button>
    </a>

  </form>

</mat-nav-list>
