<mat-nav-list>

  <form class="datePiker" [formGroup]="form" (ngSubmit)="consultarPagos()" >

    <mat-form-field appearance="fill">
      <mat-label>Fecha Recaudo</mat-label>
      <input matInput
             [matDatepicker]="dp"
             displayFormat="YYYY MM DD"
             value="{{ fecha }}"
             formControlName="fecha">

      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>


    <a mat-list-item (click)="onCerrarMenu(tblusuario.username)" *ngFor="let tblusuario of tblusuarios">
      <button type="submit" class="buttonList" mat-stroked-button flex="300" color="primary">
        <mat-icon>person </mat-icon>
        {{tblusuario.nombre}}
      </button>
    </a>

  </form>

</mat-nav-list>
